<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
body{
    background: #79B2DE;
}
.maindiv{
  height: 300px;
  width: 1300px;
  position: relative;
  left: 440px;
  top: 80px;
}
.sizing{
  height: 250px;
  width: 250px;
  border: 2px solid black;
}

.mask{
    margin-left: 50px;
}
.mask_div{
  position: relative;
  bottom: 291px;
  left: 270px;
}

.head1{
  margin-left: 10px;
  margin-top: 5px;
  color: #02475e;
}
.head2{
  margin-left: 85px;
  margin-top: 5px;
  color: #02475e;
}
.mri{
  margin-left: 5px;
}
.pred_color{
  color: #fb3640;
  text-align: center;
}

.hr{
  width: 50%;
}
.headings{
  font-weight: lighter;
  display: inline;
}
.heading_head{
  display: inline;
}
.title_card{
  text-align: center;
  font-size: 2.8rem;
  color: #3c415c;
}
.sidebar{
    background: #AADBFF;
}
.card{
    border-radius:20px;
}
.row{
    padding:0px;
    margin:0px;
 }
@media only screen and (max-width:576px)and (min-width:0px){
    .card{
        border-radius:5px;
    }
}

</style>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
